<div>
    <input ng-model="movieSearch" type="search"/>
    <!--<p>{{movieSearch}}</p>-->
</div>
    <button type="submit"  ng-click="search(movieSearch)">Search</button>
<p>{{result}}</p>
<p>Title: {{result.data.Title}}</p>
<p>Year(s) shown: {{result.data.Year}}</p>
<p>Rating: {{result.data.Rated}}</p>
<p>Genre: {{result.data.Genre}}</p>
<p>Actors: {{result.data.Actors}}</p>
<p>Plot: {{result.data.Plot}}</p>
<p>Language: {{result.data.Language}}</p>
<p>Awards: {{result.data.Awards}}</p>
<div> 
    <!--<button ui-sref="search">Go To Search</button>
    <button ui-sref="list">Go To List</button>  
    <button ui-sref="view">Go To View</button>-->
</div>