<div>
    <div class="input-group search-bar">
        <input type="text" ng-model="movieSearch" class="form-control input" placeholder="Enter movie name" autofocus />
        <span class="input-group-addon bar-style">
            <i ng-click="search(movieSearch)" class="glyphicon glyphicon-search"></i>
        </span>
    </div>
</div>
<div ng-repeat="search in result.data.Search">
    <div class = "col-md-4">
        <a ui-sref="view({id:search.imdbID})" ng-model="search.Title"><h3 class = "searchResult">{{search.Title}}</h3>
        <img class = "multiPoster" ng-src="{{search.Poster}}"></a>
    </div>
</div>


